__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.pytest_cache/
input/*
!input/.gitkeep
output/*
!output/.gitkeep
cipam_translator.egg-info/
build/
dist/
MagicMock/
.DS_Store
